<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        
        <div class="container col-md-6 offset-md-2" >
            <div class="col-md-10 offset-md-2 formContainer">
            <form name="myForm" class="my-form" ng-show="showForm">
                <div class="form-group">
                    <input name="input" class="form-control border border-secondary" ng-model="newPatient.name" placeholder="patientName:"required>
                    <span class="text-danger" ng-show="myForm.input.$error.required">*</span><br>
                </div>
        
                <div class="form-group">
                    <input name="input" class="form-control border border-secondary" ng-model="newPatient.email" placeholder="patientEmail:" required>
                    <span class="text-danger" ng-show="myForm.input.$error.required">*</span><br>
                </div>
        
                <div class="form-group">
                    <input name="input" type="number" class="form-control border border-secondary" ng-model="newPatient.age" placeholder="patientAge:" required>
                    <span class="text-danger" ng-show="myForm.input.$error.required">*</span><br>
                </div>
        
                <div class="form-group">
                    <input name="input" type="number" class="form-control border border-secondary" ng-model="newPatient.phone" placeholder="patientphone:" required>
                    <span class="text-danger" ng-show="myForm.input.$error.required">*</span><br>
                </div>
        
                <div class="form-group">
        
                    <select name="insurance" class="form-control border border-secondary" ng-model="newPatient.insurance">
                        <option value="">--Select insurance--</option>
                        <option ng-repeat="option in insurances" value="{{option._id}}">{{option.name}}</option>
                        
                    </select>
                </div>
                <button
                    type="submit"
                    class="btn btn-outline-success btn-block "
                    ng-click="createNew(newPatient)"
                    >
                    Create
                </button>
            </form>
            </div>
        </div>

    </body>
</html>