<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
   <meta content="utf-8" http-equiv="encoding">
    </head>
    <body>
      <div class="container  viewPatient mt-5">
      <div class="card mb-4">
        <h4 class="card-header">Patient Information</h4>
        <ul class="list-group">
          <li class="list-group-item">
            <span class="badge badge-info mr-2">Name:</span>
            {{patient.name}}
          </li>
          <li class="list-group-item">
            <span class="badge badge-info mr-2">Email:</span>
            {{patient.email}}
          </li>
          <li class="list-group-item">
            <span class="badge badge-info mr-2">Phone:</span>
            {{patient.phone}}
          </li>
          <li class="list-group-item">
            <span class="badge badge-info mr-2">Age:</span>
            {{patient.age}}
          </li>
          <li class="list-group-item">
            <span class="badge badge-info mr-2">Insurance:</span>
            {{patient.insurance.name}}
          </li>
        </ul>
      </div>
      </div> 
</body>
</html>      
     