body{
    background-color: #f1f1f1;
}
.homeContainer{
    background-color: #fff;
}
/* .patientsContainer:{
background-color: gray;
} */
.onePatient{
   padding:10px 0 10PX 10px; 
   /* background-color: red; */
}

.onePatient:hover,
.onePatient:focus {
    transform: translateX(0.5rem);
    transition-delay: 0.2s;
    /* background-color: #7ce7e0; */
    color: firebrick;
    border-top: 2px solid #f1f1f1;
    border-left: 2px solid #f1f1f1;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 8px 8px 2px 0 rgba(82, 84, 107, 0.37);
    -moz-box-shadow: rgba(82, 84, 107, 0.37) 8px 8px 2px 0;
    -webkit-box-shadow: rgba(82, 84, 107, 0.37) 8px 8px 2px 0;
    backdrop-filter: blur(6px);
  }
.actionBtns{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.searchContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.viewPatient{
    /* background-color:  #E3E7EC; */
    max-width: 65%
}
.badge{
    min-width:10%;
}
.list-group-item{
    border-left: none;
    border-right:none;
}
.formContainer{
    margin-top: 10px;
    padding:10px;
    background-color: #e3e7ec;
    -moz-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
}
.my-form{
    /* background-color: aqua; */
}

* {
    -moz-transition-property: background-color, border-color, box-shadow, color,
      opacity, text-shadow, -moz-transform;
    -o-transition-property: background-color, border-color, box-shadow, color,
      opacity, text-shadow, -o-transform;
    -webkit-transition-property: background-color, border-color, box-shadow, color,
      opacity, text-shadow, -webkit-transform;
    transition-property: background-color, border-color, box-shadow, color,
      opacity, text-shadow, transform;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
  }