<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
    </head>
    <body>
      

        <div class="container homeContainer p-4" >
            <div class="searchContainer mb-3">
                <div class="search">Search by Name: <input class="" ng-model="search.name" /></div>
                <div><a ng-href="#/patient/create"><button class="btn btn-md btn-primary"><i class="fa fa-plus mr-1"></i>new Patient</button></a></div>
            </div>
            
            <div class="patientsContainer">
            <div class="row  onePatient"  ng-repeat="patient in patients | filter:search:strict">
                <div class="col-3">{{patient.name}}</div>  
                <div class="col-3">{{patient.phone}}</div> 
                <div class="col-3">{{patient.email}}</div>
                <div class="col-3 actionBtns">
                    <div><a ng-href="#/patient/{{patient._id}}"><button class="btn btn-sm btn-outline-info"><i class="fa fa-eye"></i>View</button></a></div>
                    <div><a ng-href="#/patient/edit/{{patient._id}}"><button class="btn btn-sm btn-outline-warning"><i class="fa fa-edit"></i>Edit</button></a></div>
                    <div ng-click="deletePatient(patient._id)"><button class="btn btn-sm btn-outline-danger"><i class="fa fa-trash"></i></button></div>
            </div>
        </div>
        </div>
    </body>
</html>      
     

